* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e9afe;
    animation-name: sky;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-duration: 120s;
    animation-iteration-count: 1;
}

#city {
    position: fixed;
    bottom: 0px;
    height: 250px;
    width: 100%;
    background-image: url('city.png');
}

.cloud-container #cloud1 {
    position: fixed;
    top: 250px;
    left: 400px;
    width: 20%;
    animation-name: cloud1;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-duration: 110s;
    animation-iteration-count: infinite;
}

.cloud-container #cloud2 {
    position: fixed;
    bottom: 230px;
    left: 270px;
    width: 10%;
    animation-name: cloud2;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-duration: 90s;
    animation-iteration-count: infinite;
}

.cloud-container #cloud3 {
    position: fixed;
    bottom: 200px;
    right: 50px;
    width: 20%;
    animation-name: cloud3;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}

.cloud-container #cloud4 {
    position: fixed;
    bottom: 150px;
    left: 50px;
    width: 25%;
    animation-name: cloud4;
    animation-direction: alternate;
    animation-delay: 3s;
    animation-duration: 80s;
    animation-iteration-count: infinite;
}

.cloud-container #cloud5 {
    position: fixed;
    top: 310px;
    left: 550px;
    width: 15%;
    animation-name: cloud5;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}

.eclipse {
    position: fixed;
    top: 15%;
    left: 20%;
    padding: 18px 18px 18px 18px;
    overflow: hidden;
}

#sun {
    position: absolute;
    z-index: 1;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background: radial-gradient(#fe9a2e, #ffff00);
    box-shadow: 0 0 25px 5px rgba(243, 226, 169, 1);
}

#moon {
    position: relative;
    z-index: 2;
    left: -112%;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: #2e2e2e;
    animation-name: moon;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-duration: 120s;
    animation-iteration-count: 1;
}


/* Animation cloud's */
@keyframes cloud1 {
    from {
        left: 400px;
    }
    
    to {
        left: 40px;
    }
}

@keyframes cloud2 {
    from {
        left: 270px;
    }
    
    to {
        left: 800px;
    }
}

@keyframes cloud3 {
    from {
        right: 50px;
    }
    
    to {
        right: 800px;
    }
}

@keyframes cloud4 {
    from {
        left: 50px;
    }
    
    to {
        left: 1100px;
    }
}

@keyframes cloud5 {
    from {
        left: 550px;
    }
    
    to {
        left: -200px;
    }
}


/* Animation sky */
@keyframes sky {
    0% {background-color: #2e9afe;}
    50% {background-color: #084b8a;}
    100% {background-color: #2e9afe;}
}


/* Animation moon */
@keyframes moon {
    0% {left: -100%;}    
    5% {left: -90%;}    
    10% {left: -80%;}    
    15% {left: -70%;}    
    20% {left: -60%;}    
    25% {left: -50%;}    
    30% {left: -40%;}    
    35% {left: -30%;}    
    40% {left: -20%;}    
    45% {left: -10%;}    
    50% {left: 0%;}    
    55% {left: 10%;}    
    60% {left: 20%;}    
    65% {left: 30%;}    
    70% {left: 40%;}    
    75% {left: 50%;}    
    80% {left: 60%;}    
    85% {left: 70%;}    
    90% {left: 80%;}    
    95% {left: 95%;}    
    100% {left: 112%;}    
}